.first-screen {
  min-height: 810px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  background-image: url(../../images/first-screen-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .first-screen {
    min-height: 490px;
  }
}

