.section__photo {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

@media screen and (max-width: 1919px) {
  .section__photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

@media screen and (max-width: 550px) {
  .section__photo {
   display: none;
  }
}
