.information__link {
  margin: 0;
  color: gray;
  text-decoration: none;
  font-family: 'PT Sans';
  font-size: 12px;
  font-weight: normal;

  transition: color 0.5s ease;
}

.information__link:hover {
  color: white;
  cursor: pointer;
}
