.first-screen__brand {
  margin: 253px auto 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .first-screen__brand {
    margin: 125px auto 0;
  }
}
