.card__link {
  color: black;
  text-decoration: none;

  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

@media screen and (max-width: 1115px) {
  .card__link {
    font-size: 16px;
  }
}
