.new-collection__button-title {
  text-align: center;
  margin: 0;
  font-family: 'PT Sans';
  font-size: 18px;
}

@media screen and (max-width: 550px) {
  .new-collection__button-title {
    font-size: 12px;
  }
}
