.cards__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cards__card:hover {
  transform: scale(1.05, 1.05);
  transition: transform 0.5s ease-in-out;
}
