.cards {
  width: 100%;
  box-sizing: border-box;
  padding: 0 80px 93px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, max-content));
  gap: 25px 50px;
  justify-content: center;
}
