/* .cards {
  padding: 0 80px 0;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  list-style-type: none;
} */

.cards {
  padding: 0 80px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}
