.posts__recents {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
}

@media screen and (max-width: 768px) {
  .posts__recents {
    font-size: 18px;
    text-align: center;
  }
}
