.works__title {
  box-sizing: border-box;
  margin: 0 0 22px;

  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
}

@media screen and (max-width: 860px) {
  .works__title {
    margin-bottom: 0px;

    text-align: center;
  }
}

