.header__button {
  color: #969696;
  padding: 31px 20px 31px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'PT Sans';
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.header__button:hover {
     color: white;
     background-color: #1F1F1F;
}
