.header__language-block {
  margin-right: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  position: relative;

  transition: 0.3s ease;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.header__language-block:hover .header__language-links {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}
