.new-collection__white-line {
  box-sizing: border-box;
  margin-bottom: 30px;
  width: 120px;
  height: 1px;
  background-color: white;
}

@media screen and (max-width: 550px) {
  .new-collection__white-line {
    margin-bottom: 15px;
  }
}

